/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card-like-button — для кнопки Like рядом с иконкой
✦ card-icon-button — для кнопки, оборачивающей иконку
✦ card-icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button-text — для обозначения текстового элемента внутри кнопки

*/
@keyframes fadeIn {
    from {
        scale: 1;
    }
    50% {
        scale: 1.25;
    }
    to {
        scale: 1;
    }
}

@keyframes sparks { 
    from { 
        --like-button-sparks: rgb(255 37 0 / 0); 
    } 
    to { 
        --like-button-sparks: rgb(255 37 0 / 1); 
    } 
}